.step-default {
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 1px solid black;
}

.step-active {
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 1px solid black;
  background-color: red;
}